.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header > h3 {
    font-size: 64px;
}

.question-brief {
    padding-left: 40px;
    margin-right: 75px;
    margin-top: 20px;
    width: 740px;
}